<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="box">
    <h1>Add New Customer</h1>
    <fieldset>
      <input id="firstName" name="firstName" formControlName="firstName" placeholder="FirstName" autofocus="" required=""/>
      <input id="firstName" name="lastName" formControlName="lastName" placeholder="LastName" autofocus="" required=""/>
      <div class="btn"><button class="btnSubmit" type="submit" [disabled]="userForm.invalid || !userForm.dirty">Submit</button>
     <a (click)="backHome()"><button id="btnBack">Back</button></a></div>
    </fieldset>
    </div>
</form>
